<section id="testimonials" class="testimonials">
  <div class="container">
    <h2>What Customers Say</h2>
    <div class="testimonial-grid">
      <div class="testimonial">
        <p>"This is <strong>genius</strong> and <strong>saved me hours</strong>. Thank you!"</p>
        <cite>- Greg Lynn</cite>
      </div>
      <div class="testimonial">
        <p>"Thank you so much for this, you just made my life <strong>so much easier</strong>"</p>
        <cite>- Christo Eloff</cite>
      </div>
    </div>
  </div>
</section>
