<section class="hero">
  <div class="container">
    <h1>Function Health Todo App</h1>
    <p class="description">
      Theme Angular Material components dynamically using just 6 CSS
      variables! No complex SASS setup required - change themes at runtime
      and support both light &amp; dark modes.
    </p>
    <div class="actions">
      <a mat-flat-button (click)="themeSelectorService.open()">Try Live Demo</a>
      <a mat-stroked-button href="#video">Watch Tutorial</a>
    </div>
  </div>
</section>
